---
defaults: &defaults
  environment:
    GOOGLE_PROJECT_ID: planet-4-151612
  docker:
    - image: gcr.io/planet-4-151612/circleci-base:develop
  working_directory: /home/circleci/app

version: 2

jobs:
  build:
    <<: *defaults
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Configure
          command: |
            # Ensure all shell scripts are executable
            chmod +x ./bin/*.sh
            # Store current build number for future jobs
            mkdir -p /tmp/workspace/var
            echo "${CIRCLE_BUILD_NUM}" > /tmp/workspace/var/circle-build-num
      - run: make clean lint
      - run: activate-gcloud-account.sh
      - run: gcloud auth configure-docker
      - run: make build
      - run: make -k test
      - run: make -j push
      - run:
          name: Notify failure
          when: on_fail
          command: notify-job-failure.sh
      - store_test_results:
          path: /home/circleci/app/test/logs
      - store_artifacts:
          path: /home/circleci/app/test/logs
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - var

  notify-promote:
    <<: *defaults
    steps:
      - run:
          name: Notify of held workflow
          command: TYPE="@rawalker Promotion" notify-job-hold.sh

  promote:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - deploy:
          name: Start release
          command: |
            new_version="$(git-new-version.sh)"
            release-start.sh "$new_version"
            release-finish.sh "$new_version"
            git checkout ${CIRCLE_BRANCH}
            make src
            update-build-numbers.sh -f README.md src/circleci-base/Dockerfile

  deploy:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          background: true
          command: |
            make src
            update-build-numbers.sh -f README.md src/circleci-base/Dockerfile
      - run: docker-login.sh
      - deploy:
          name: Tag :latest
          command: |
            export CIRCLE_BUILD_NUM=$(cat /tmp/workspace/var/circle-build-num)
            docker pull greenpeaceinternational/circleci-base:build-${CIRCLE_BUILD_NUM}
            docker tag greenpeaceinternational/circleci-base:build-${CIRCLE_BUILD_NUM} greenpeaceinternational/circleci-base:latest
            TYPE="Tag: greenpeaceinternational/circleci-base:latest" notify-job-success.sh
            docker push greenpeaceinternational/circleci-base:latest
      - run:
          command: trigger-build-api.sh planet4-builder develop

workflow_common:
  tag_common: &tag_common
    context: org-global
    filters:
      branches:
        ignore: /.*/
      tags:
        only: /^v\p{Digit}+\.\p{Digit}+\.\p{Digit}+.*/

workflows:
  version: 2
  branch:
    jobs:
      - build:
          context: org-global
          filters:
            branches:
              ignore: master
      - hold-promote:
          type: approval
          requires:
            - build
          filters:
            branches:
              only: develop
      - notify-promote:
          context: org-global
          requires:
            - build
          filters:
            branches:
              only: develop
      - promote:
          context: org-global
          requires:
            - hold-promote
          filters:
            branches:
              only: develop
  tag:
    jobs:
      - build:
          <<: *tag_common
      - deploy:
          <<: *tag_common
          requires:
            - build
