---
version: '3.2'
services:
  app:
    container_name: build_proxy
    image: gcr.io/planet-4-151612/openresty:${OPENRESTY_BUILD_TAG:-develop}
    volumes:
      - type: volume
        source: data
        target: /app/source/public
        volume:
          nocopy: true
    environment:
      - APP_ENV=production
      - APP_HOSTNAME=${APP_HOSTNAME:-build.planet4.local}
      - PHP_ENABLED=true
    depends_on:
      - php-fpm

  php-fpm:
    container_name: build_php
    image: p4-build
    build: ./build
    environment:
      - APP_ENV=production
      - APP_HOSTNAME=${APP_HOSTNAME:-build.planet4.local}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-p4_test}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-CeciNestUnePassword}
      - MYSQL_USER=${MYSQL_USER:-planet4}
      - OVERWRITE_EXISTING_FILES=true
      - WP_DEFAULT_CONTENT=false
      - WP_VERSION=${WP_VERSION:-latest}
    volumes:
      - type: volume
        source: data
        target: /app/source/public
        volume:
          nocopy: true

  db:
    image: ${DB_IMAGE:-mysql:5.7}
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE:-p4_test}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-CeciNestUnePassword}
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_USER=${MYSQL_USER:-planet4}

  redis:
    image: redis:4

volumes:
  data:
